.navbar-nav .nav-link {
    color: rgb(7, 12, 12) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(36, 28, 28, 0.5) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 1rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 2rem;
    }
    #blogdetailtitle {
        font-size: 11rem;
    }
}